<partial name="Admin/_AdminSidebar" />

<div class="pagetitle">
    <h1>Branch</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item">Branch</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow border-0 mt-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <h5 class="card-title">Gender List</h5>
                        </div>

                        <div class="col-6 text-end">
                            <a asp-controller="Branch" asp-action="Upsert" class="btn btn-primary mt-3">
                                <i class="bi bi-plus-circle"></i> &nbspAdd New Branch
                            </a>
                        </div>
                    </div>
                    </br></br>

                    <table id="tblBranch" class="table table-hover" style="width:100%">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Name</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts
{
    <script src="~/js/admin/branch.js"></script>
}