@model CustomerIndexVM

@if (Model.gallerySection.Count() > 0)
{
    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
        <div class="container">

            <div class="section-title">
                <h2>Gallery</h2>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row g-0">

                @foreach (var image in Model.gallerySection)
                {
                    <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <a href="@image.ImgUrl" class="galelry-lightbox">
                                <img src="@image.ImgUrl" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>
                }

            </div>

        </div>
    </section>

    <!-- End Gallery Section -->
}
