@page
@model AccessDeniedModel
@{
    Layout = "/Views/Shared/_ErrorLayout.cshtml";
}

<div class="container">
    <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
        <h1>Access Denied</h1>
        <h2>You do not have access to this resource.</h2>
        @if(User.IsInRole(StaticDetails.ROLE_CUSTOMER))
        {
            <a class="btn" asp-area="Customer" asp-controller="Dashboard" asp-action="Index">Back to dashboard</a>
        }
        else
        {
            <a class="btn" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Back to dashboard</a>
        }
        <img src="/img/admin/not-found.svg" class="img-fluid py-5" alt="Page Not Found">
    </section>
</div>